@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body, #react-root {
    height: 100%;  
    margin: 0;  
}
.chat-app{
    height: 100%;
    display: flex;
    direction: row;
}


.positive{
    color: #6ece1a
}
.negative{
    color: #de1c28
}

.custom-scroll{
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color:  #52aff1;
    }

    scrollbar-face-color: #F5F5F5;
    scrollbar-track-color: #52aff1;
}
 