.chat-list{
    box-sizing: border-box;
    flex: 1;
    margin-left: 106px;
    margin-right: 30px;
    margin-bottom: 30px;

    &__frame {
        box-sizing: border-box;
        
        width: 692px;

        display: flex;
        flex-direction: column;
    }

    &__date-header {
        text-align: center;
        font-family: Courier New, Courier, monospace;
        font-size: 16px;
        text-align: center;
        color: #b7b7b7;
    }
}