.account-msg{
    box-sizing: border-box;
    padding: 32px 41px;
    width: 100%;
    min-width: 424px;

    font-family: 'Roboto', sans-serif;
    color: #333333;

    &:nth-child(2n){
        background-color: #f9f9f9;
    }

    &__header{
        padding-bottom: 13px;
        font-size: 20px;
        line-height: 0.83;
        display: flex;
        justify-content: space-between;
    }
    &__amount{
        font-size: 24px;
        line-height: 1;
    }
    &__description{
        font-size: 14px;
        line-height: 1.43;
        color: #999999;
    }

    .positive{
        color: #6ece1a
    }
    .negative{
        color: #de1c28
    }

    &__operations-list-header{
        margin-top: 40px;
        font-size: 16px;
        line-height: 1.5;
        color: #999999;
    }

    &__operation{
        box-sizing: border-box;
        padding: 17px 10% 17px 10%;
        margin: 0 0 0 -10%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 120%;

        background-color: #f9f9f9;

        &-description-text{
            font-weight: bold;
            margin-right: 0.5em;
        }
        &:nth-child(2n+1){
            background-color: white
        }
    }

    
} 